version: '3'

# In order to start James Postgres app on top of mariaDB:
# 1. Download the driver: `wget https://jdbc.postgresql.org/download/postgresql-42.5.4.jar`
# 2. Generate the keystore with the default password `james72laBalle`: `keytool -genkey -alias james -keyalg RSA -keystore keystore`
# 3. Start Postgres: `docker-compose up -d postgres`
# 4. Start James: `docker-compose up james`

services:

  james:
    depends_on:
      - postgres
      - s3
    image: apache/james:postgres-latest
    container_name: james
    hostname: james.local
    volumes:
      - $PWD/postgresql-42.5.4.jar:/root/libs/postgresql-42.5.4.jar
      - $PWD/keystore:/root/conf/keystore
      - ./sample-configuration/james-database-postgres.properties:/root/conf/james-database.properties
    environment:
      - OBJECTSTORAGE_S3_ENDPOINT=http://s3.docker.test:8000/
      - OBJECTSTORAGE_S3_REGION=us-east-1
      - OBJECTSTORAGE_S3_ACCESSKEYID=accessKey1
      - OBJECTSTORAGE_S3_SECRETKEY=secretKey1
    ports:
      - "80:80"
      - "25:25"
      - "110:110"
      - "143:143"
      - "465:465"
      - "587:587"
      - "993:993"
      - "8000:8000"

  postgres:
    image: postgres:16.0
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=james
      - POSTGRES_USER=james
      - POSTGRES_PASSWORD=secret1

  s3:
    image: zenko/cloudserver:8.2.6
    container_name: s3.docker.test
    deploy:
      resources:
        limits:
          memory: 4g
    ports:
      - "8001:8000"
    environment:
      - SCALITY_ACCESS_KEY_ID=accessKey1
      - SCALITY_SECRET_ACCESS_KEY=secretKey1
      - LOG_LEVEL=trace
      - REMOTE_MANAGEMENT_DISABLE=1